<html>
    <head>
        <title>{% block title %}NiceBites{% endblock %} - NiceBites</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
        <!--[if lte IE 8]>
         <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>