{% extends "web/layout.html" %}

{% block title %}{{ region.name }}{% endblock %}

{% block content %}

    <div id="map-container">
        <div id="map">Loading map...</div>
    </div>
    <div id="controls">
        <div id="panel">
            <div id="distance-selector">
                <button type="button" data-distance="0.2" class="btn active">200m</button>
                <button type="button" data-distance="0.5"class="btn">500m</button>
                <button type="button" data-distance="0.75" class="btn">750m</button>
                <button type="button" data-distance="1" class="btn">1km</button>
                <button type="button" data-distance="1.5" class="btn">1.5km</button>
                <button type="button" data-distance="2" class="btn">2km</button>
                <button type="button" data-distance="5" class="btn">5km</button>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="/static/js/NiceBites.js"></script>
    <script type="text/javascript" src="/static/js/region.js"></script>

{% endblock %}